{% extends 'base.html.twig' %}

{% block title %}Abonnement index{% endblock %}

{% block body %}
    <h1>Gérer les Abonnements</h1>

    <table class="table">
        <thead>
            <tr>
                 <th>Type d'Abonnement</th> 
                <th>Auto renouvellement</th>
                <th>Sport</th>
                <th>Prix</th>
                <th>Capacité</th>
                 <th>Informations Supplémentaires</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for abonnement in abonnements %}
            <tr>
                <td>{{ abonnement.typeAbonnement.nom }}</td> <!-- Affichage du type d'abonnement -->
                <td>{{ abonnement.autorenouvellement ? 'Yes' : 'No' }}</td>
                <td>{{ abonnement.sport }}</td>
                <td>{{ abonnement.prix }}</td>
                <td>{{ abonnement.capacite }}</td> <!-- Affichage de la capacité -->
                <td>{{ abonnement.commentaires }}</td>
                <td>
                    <a class="btn btn-primary btn-lg" href="{{ path('app_abonnement_show', {'id': abonnement.id}) }}">Détails</a>
                    <a href="{{ path('app_abonnement_edit', {'id': abonnement.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">aucune abonnement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_abonnement_new') }}">Ajouter une nouvelle abonnement</a>
{% endblock %}
