{# templates/produit/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Créer un Produit{% endblock %}

{% block body %}
    <h1>Créer un Produit</h1>

    {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.description) }}
        {{ form_row(form.image) }}
        {{ form_row(form.tags) }} {# Affichage du champ de tags #}

        <button class="btn btn-primary">Créer</button>
    {{ form_end(form) }}
{% endblock %}
