{% extends 'base.html.twig' %}

{% block title %}Typeabonnement index{% endblock %}

{% block body %}
    <h1>Gerer les Types d'abonnement</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeabonnement in typeabonnements %}
            <tr>
                <td>{{ typeabonnement.nom }}</td>
                <td>{{ typeabonnement.description }}</td>
                <td>
                    <a class="btn btn-secondary btn-lg" href="{{ path('app_typeabonnement_show', {'id': typeabonnement.id}) }}">Afficher</a>
                    <a class="btn btn-secondary btn-lg" href="{{ path('app_typeabonnement_edit', {'id': typeabonnement.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_typeabonnement_new') }}">Ajouter une nouvelle type</a>
{% endblock %}
