{% extends 'base.html.twig' %}

{% block title %}Typeabonnement{% endblock %}

{% block body %}
    <h1>Typeabonnement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ typeabonnement.nom }}</td>
            </tr>
           
            <tr>
                <th>Description</th>
                <td>{{ typeabonnement.description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary btn-lg" href="{{ path('app_typeabonnement_index') }}">Retour</a>
    <br>
    <br>
    <a class="btn btn-secondary btn-lg" href="{{ path('app_typeabonnement_edit', {'id': typeabonnement.id}) }}">Modifier</a>

    {{ include('typeabonnement/_delete_form.html.twig') }}
{% endblock %}
