<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gym Template">
    <meta name="keywords" content="Gym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Gym | Template{% endblock %}</title>
    {% block css%}
    <!-- Google Font -->
    <link href="{{asset('https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap')}}" rel="stylesheet">
    <link href="{{asset('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap')}}" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{asset('css2/bootstrap.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('css2/font-awesome.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('css2/flaticon.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('css2/owl.carousel.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('css2/barfiller.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('css2/magnific-popup.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('css2/slicknav.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('css2/style.css')}}" type="text/css">
    {% endblock %}
</head>

<body>
   {% block body %}
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="fa fa-close"></i>
        </div>
        <div class="canvas-search search-switch">
            <i class="fa fa-search"></i>
        </div>
        <nav class="canvas-menu mobile-menu">
            <ul>
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li><a href="./about-us.html">About Us</a></li>
                <li><a href="{{ path('app_home') }}">Classes</a></li>
                <li><a href="./services.html">Services</a></li>
                <li><a href="./team.html">Our Team</a></li>
                <li><a href="#">Pages</a>
                    <ul class="dropdown">
                        <li><a href="./about-us.html">About us</a></li>
                        <li><a href="./class-timetable.html">Classes timetable</a></li>
                        <li><a href="./bmi-calculator.html">Bmi calculate</a></li>
                        <li><a href="./team.html">Our team</a></li>
                        <li><a href="./gallery.html">Gallery</a></li>
                        <li><a href="./blog.html">Our blog</a></li>
                        <li><a href="./404.html">404</a></li>
                    </ul>
                </li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="canvas-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="{{asset('img2/logo.png')}}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="nav-menu">
                        <ul>
                            <li><a href="{{ path('app_home') }}">Home</a></li>
                            <li><a href="./about-us.html">About Us</a></li>
                            <li><a href="{{ path('app_hclasses') }}">Classes</a></li>
                            <li><a href="./services.html">Services</a></li>
                            <li><a href="./team.html">Our Team</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./about-us.html">About us</a></li>
                                    <li><a href="{{ path('app_hclasses') }}">Classes</a></li>
                                    <li><a href="./bmi-calculator.html">Bmi calculate</a></li>
                                    <li><a href="./team.html">Our team</a></li>
                                    <li><a href="./gallery.html">Gallery</a></li>
                                    <li><a href="./blog.html">Our blog</a></li>
                                    <li><a href="./404.html">404</a></li>
                                </ul>
                            </li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="top-option">
                        <div class="to-search search-switch">
                            <i class="fa fa-search"></i>
                        </div>
                        <div class="to-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas-open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{{asset('img2/breadcrumb-bg.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Classes detail</h2>
                        <div class="bt-option">
                            <a href="{{ path('app_home') }}">Home</a>
                            <a href="{{ path('app_hclasses') }}">Seances</a>
                            <a href="#">{{ nom }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

<!-- Modal (pop-up) pour l'évaluation -->
<div class="modal" id="rateModal" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Évaluation de la séance</h5>
                <button type="button" class="close" id="closeModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Notez la séance en cliquant sur une étoile :</p>
                <div class="stars">
                    <span class="star" data-value="1">&#9733;</span>
                    <span class="star" data-value="2">&#9733;</span>
                    <span class="star" data-value="3">&#9733;</span>
                    <span class="star" data-value="4">&#9733;</span>
                    <span class="star" data-value="5">&#9733;</span>
                </div>
                <p id="ratingResult">Vous avez évalué cette séance avec : <span id="selectedRating">0</span> étoiles.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cancelRating">Annuler</button>
                <button type="button" class="btn btn-primary" id="submitRatingButton">Envoyer</button>
            </div>
        </div>
    </div>
</div>



<!-- table section Begin -->

<section class="class-timetable-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <span>Find Your Time</span>
                    <h2>Détails des séances pour : {{ nom }}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="class-timetable">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Date et Heure</th>
                                <th>Nom Coach</th>
                                <th>Salle</th>
                                <th>Participants Inscrits</th>
                                <th>Places</th>
                                <th>Statut</th> <!-- Nouvelle colonne pour le statut -->
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
{% for seance in seances %}
    <tr class="{% if loop.index is even %}table-light{% else %}table-secondary{% endif %}">
        <td>{{ seance.date|date('d/m/Y H:i') }}</td>
        <td>{{ seance.nomCoach }}</td>
        <td>{{ seance.salle }}</td>
        <td>{{ seance.participantsInscrits }}/{{ seance.capaciteMax }}</td>
        <td>
            {% if seance.participantsInscrits < seance.capaciteMax %}
                <span>Disponible</span>
            {% else %}
                <span>Non disponible</span>
            {% endif %}
        </td>
        <td>
            {% if seance.statut == 'annulée' %}
                <span style="font-size: larger; color: red;">Annulée</span>
            {% elseif seance.statut == 'terminée' %}
                <span style="font-size: larger; color: gray;">Terminée</span>
            {% else %}
                <span style="font-size: larger; color: green;">Programmé</span>
            {% endif %}
        </td>
        <td>
            {% if seance.statut != 'annulée' and seance.statut != 'Terminée' and seance.participantsInscrits < seance.capaciteMax %}
                <form action="{{ path('app_reserver_seance', {'id': seance.id}) }}" method="post">
                    <button type="submit" class="btn btn-primary">Réserver</button>
                </form>
            {% else %}
                <span style="font-size: larger; color: red;">Réservation fermée</span>
            {% endif %}

 {% if seance.statut == 'terminée' %}
    <button class="btn btn-warning mt-2 rate-session-btn" data-seance-id="{{ seance.id }}"> Évaluer </button>
    
{% endif %}

        </td>
    </tr>
{% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
.modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-dialog {
    max-width: 500px;
    margin: auto;
}

.stars {
    font-size: 30px;
    text-align: center;
}

.star {
    cursor: pointer;
    color: gold;
}
</style>


<!-- Flash Messages Section -->
{% for label, messages in app.flashes %}
    <div class="flash-popup flash-popup-{{ label }} alert-dismissible fade show" role="alert">
        <strong>
            {% if label == 'success' %}
                <h5 class="fas fa-check-circle"></h5> 
            {% elseif label == 'error' %}
                <h6 class="fas fa-times-circle"></h6>
            {% elseif label == 'warning' %}
                <h7 class="fas fa-exclamation-circle"></h7>
            {% else %}
                <h8 class="fas fa-info-circle"></h8>
            {% endif %}
        </strong>
        {% for message in messages %}
            <h9>{{ message }}</h9>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

<!-- CSS for Pop-up Style -->
<style>
    .flash-popup {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
        width: 80%;
        max-width: 400px;
        padding: 15px;
        border-radius: 5px;
        color: white;
        background-color: black; /* Black background */
        display: none; /* Hidden by default */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        animation: fadeIn 0.5s ease-in-out; /* Fade-in effect */
    }

    /* Flash message colors */
    .flash-popup-success {
        background-color: black;
        color: white;
    }

    .flash-popup-error {
        background-color: black;
        color: white;
    }

    .flash-popup-warning {
        background-color: black;
        color: white;
    }

    .flash-popup-info {
        background-color: black;
        color: white;
    }

    .flash-popup .close {
        position: absolute;
        top: 10px;
        right: 10px;
        color: white;
        font-size: 1.5rem;
        background: none;
        border: none;
        cursor: pointer;
    }

    /* Animation for fading in */
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>

<!-- table Section End -->

      <!-- Get In Touch Section Begin -->
    <div class="gettouch-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-map-marker"></i>
                        <p>333 Middle Winchendon Rd, Rindge,<br/> NH 03461</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-mobile"></i>
                        <ul>
                            <li>125-711-811</li>
                            <li>125-668-886</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text email">
                        <i class="fa fa-envelope"></i>
                        <p>Support.gymcenter@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Get In Touch Section End -->

  <!-- Footer Section Begin -->
    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="fs-about">
                        <div class="fa-logo">
                            <a href="#"><img src="{{asset('img2/logo.png')}}" alt=""></a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore dolore magna aliqua endisse ultrices gravida lorem.</p>
                        <div class="fa-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa  fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget">
                        <h4>Useful links</h4>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Classes</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget">
                        <h4>Support</h4>
                        <ul>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">My account</a></li>
                            <li><a href="#">Subscribe</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="fs-widget">
                        <h4>Tips & Guides</h4>
                        <div class="fw-recent">
                            <h6><a href="#">Physical fitness may help prevent depression, anxiety</a></h6>
                            <ul>
                                <li>3 min read</li>
                                <li>20 Comment</li>
                            </ul>
                        </div>
                        <div class="fw-recent">
                            <h6><a href="#">Fitness: The best exercise to lose belly fat and tone up...</a></h6>
                            <ul>
                                <li>3 min read</li>
                                <li>20 Comment</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    {% endblock %}
    {% block js %}
    <!-- Js Plugins -->
    <script src="{{asset('js2/jquery-3.3.1.min.js')}}"></script>
    <script src="{{asset('js2/bootstrap.min.js')}}"></script>
    <script src="{{asset('js2/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{asset('js2/masonry.pkgd.min.js')}}"></script>
    <script src="{{asset('js2/jquery.barfiller.js')}}"></script>
    <script src="{{asset('js2/jquery.slicknav.js')}}"></script>
    <script src="{{asset('js2/owl.carousel.min.js')}}"></script>
    <script src="{{asset('js2/main.js')}}"></script>

    <!-- JavaScript for Auto-Dismiss and Display -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Show flash messages if any exist
        const flashMessages = document.querySelectorAll('.flash-popup');
        
        flashMessages.forEach((message) => {
            message.style.display = 'block'; // Make it visible

            // Hide the message after 5 seconds
            setTimeout(() => {
                message.style.display = 'none';
            }, 5000); // 5000 ms = 5 seconds
        });
    });
</script>


    {% endblock %}

    <style>

/* Search Bar Styling */
.search-bar {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.search-bar h4 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #333;
}

.search-bar .row {
    display: flex;
    justify-content: space-between;
}

.search-bar .form-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

.search-bar .form-label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.search-bar .btn-primary {
    background-color: #ff5722;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar .btn-primary:hover {
    background-color: #e64a19;
}

/* Classes Section */
.classes-container {
    padding: 20px; /* Space around the content */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for emphasis */
    margin-top: 20px; /* Space above the classes container */
}

.class-item {
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.class-item:hover {
    transform: translateY(-10px);
}

.ci-pic {
    height: 220px; /* Standardized image height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.ci-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.ci-text {
    padding: 15px;
    text-align: center;
}

.ci-text span {
    font-size: 14px;
    color: #ff5722;
    text-transform: uppercase;
    font-weight: 600;
}

.ci-text h5 {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    margin-top: 10px;
}

.ci-text a {
    display: inline-block;
    margin-top: 10px;
    color: #ff5722;
    font-size: 18px;
}

.ci-text a:hover {
    text-decoration: underline;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .search-bar .row {
        flex-direction: column;
    }

    .search-bar .col-lg-6 {
        margin-bottom: 20px;
    }

    .class-item {
        margin-bottom: 20px;
    }
}

</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let selectedRating = 0;
        let selectedSeanceId = null;

        // Ouvrir le modal
        document.querySelectorAll('.rate-session-btn').forEach(button => {
            button.addEventListener('click', function() {
                selectedSeanceId = this.getAttribute('data-seance-id');
                document.getElementById('rateModal').style.display = 'block';
            });
        });

        // Fermer le modal
        document.getElementById('closeModal').addEventListener('click', function() {
            document.getElementById('rateModal').style.display = 'none';
        });

        document.getElementById('cancelRating').addEventListener('click', function() {
            document.getElementById('rateModal').style.display = 'none';
        });

        // Gérer les étoiles
        document.querySelectorAll('.star').forEach(star => {
            star.addEventListener('click', function() {
                selectedRating = this.getAttribute('data-value');
                document.querySelectorAll('.star').forEach(s => {
                    s.innerHTML = s.getAttribute('data-value') <= selectedRating ? '&#9733;' : '&#9734;';
                });
                document.getElementById('selectedRating').innerText = selectedRating;
            });
        });

        // Soumettre l'évaluation
        document.getElementById('submitRatingButton').addEventListener('click', function() {
            if (selectedRating > 0) {
                fetch(`{{ path('app_rate_seance', {'id': '__ID__'}) }}`.replace('__ID__', selectedSeanceId), {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ rating: selectedRating })
                })
                .then(response => {
                    if (response.ok) {
                        alert('Évaluation envoyée avec succès !');
                        document.getElementById('rateModal').style.display = 'none';
                    } else {
                        alert('Erreur lors de l\'envoi de l\'évaluation.');
                    }
                });
            } else {
                alert('Veuillez sélectionner une note.');
            }
        });
    });
</script>



</body>

</html>