{% extends 'base.html.twig' %}

{% block title %}Ajouter un Type de séance{% endblock %}

{% block body %}
<h1 class="my-4 text-center">Ajouter un nouveau type</h1>

<div class="container">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    
    <div class="mb-3">
        {{ form_label(form.type, 'Type', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.type) }}
    </div>
    
    <div class="mb-3">
        {{ form_label(form.description,  'Description', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.description) }}
    </div> 

    <div class="text-center">
        <button type="submit" class="btn btn-success">Créer le type de séance</button>
    </div>
    
    {{ form_end(form) }}
    
    <div class="text-center mt-4">
        <a href="{{ path('list_typeseance') }}" class="btn btn-secondary">Retour à la liste des types de séances</a>
    </div>
</div>
{% endblock %}